/* Import files and other resources */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import "default.css";
@import "menu.css";
@import "content_post.css";
@import "content_top5.css";

/* Main container setup */
.main-container{
    display: grid;
    grid-template-rows: 80px 1fr 30px;
    grid-template-columns: 1fr 100px;
    grid-template-areas:
    "head head"
    "main main"    
    "footer media";
    /*border: 2px solid red;*/
    font-size: 14px;
    padding: 0px 5px 0px 5px;
}
.head{
    grid-area: head;
}
.content{
    grid-area: main;
    padding: 20px 0px 10px 10px;
    text-align: left;
}
.medias{
    grid-area: media;
    padding: 5px 5px 0px 0px;    
    text-align: right;
}
.footer{
    grid-area: footer;
    font-size: 12px;   
    text-align: center;
    padding-top: 10px;
}

/* Responsive layout - Media query */
/* Medium screens */
@media(min-width:600px)and (max-width:900px) {    
    .main-container{
        grid-template-rows: 150px 1fr 30px;
        grid-template-columns: 1fr 30px;
        grid-template-areas:
        "head head"
        "main media"    
        "footer footer";              
    }
    .medias{
        text-align: right;       
        padding-top: 50vh;
    }
    .head{
        font-size: 20px;
    }
    .logo{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .logo-red{
        margin-left: -12px;
    }
}

/* Big screens */
@media(min-width:901px){
    .main-container{
        grid-template-rows: 150px 1fr 30px;
        grid-template-columns: 1fr 30px;
        grid-template-areas:
        "head head"
        "main media"    
        "footer footer";              
    }
    .medias{
        text-align: right;
        padding-top: 50vh;
    }
    .head{    
        font-size: 20px;
    }
    .logo{
        font-size: 30px;
        margin-bottom: 30px;
    } 
    .logo-red{
        margin-left: -12px;
        color: #eb0000;
    }
    
    .post-box{  
        grid-template-columns: 100%;      
        /*grid-template-rows: 1fr 1fr;*/
        width: 450px;
        height: fit-content;
        /*border: 1px solid red;
        background: #F8FA9D;*/ 
        justify-content: center;
        align-items: baseline;
        grid-template-areas: 
        "img"
        "txt";    
    }    
    .image-box{         
        width: 450px;
        height: 500px;        
        /*border: 1px solid black;
        background: lightseagreen;*/
        border-radius: 0%;
    }    
    .text-box{  
        grid-area: txt;      
        width: 430px;
        height: fit-content;  
        border-radius: 0%;
        padding: 0px 10px 0px 10px; 
        background: black;
        font-size: 18px;
        /*border: 1px solid white;*/
        margin-bottom: 20px;
    }
}